* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --background-primary: #ddffff;
    --background-main: #c2fafc;
    --btn-info: #006bc8;
    --btn-success: #28a745;
    --btn-danger: #e53e3e;

}

body{
    background-color: var(--background-primary);
    min-width: 250px;
}

main{
    background-color: var(--background-main);
    margin: 10rem auto;
    height: 1000px;
    width: 100%;
    max-width: 992px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    border-radius: 0.4rem;
}

.container-header{
    width: 100%;
}

.container-header div:first-child{
    text-align: center;
}

.container-addTask{
    margin-top: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.container-input{
    width: 80%;
    min-width: 250px;
}

.input-task{
    padding: 1rem;
    border-radius: 0.4rem;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;   
}

.input-task:hover{
    transform: scale(1.02);
}

.btn-addTask{
    background-color:var(--btn-success);
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 400;
    font-size: 0.8rem;
    cursor: pointer;
    color: #ffffff;
}

.btn-addTask:hover{
  transform: scale(1.02);
  color: var(--btn-success);
  background-color: #ffffff;
  border: 1px solid var(--btn-success);   
}

.divider{
    width: 100%;
    margin-top: 2.4rem;
    border-top: 3px solid #bbb ;
}


.empty-task-error{
    display: flex;
    margin-top: 0.2rem;
    color: red;
    font-size: 0.8rem;
    text-align: start;
}

.container-elements{
    width: 100%;
}


.container-task-card{
    height: fit-content;
    width: 100%;
    margin-top: 1rem;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.4rem;
}

.container-task-card:hover{
    transform: scale(1.007);
}

.container-card-input{
    display: flex;
    gap: 4rem;
}

.input-checkbox{
    transform: scale(1.4,1.4);
    cursor: pointer;
}

.container-card-input label{
    cursor: pointer;
}

.container-card-btn{
    display: flex;
    gap: 2rem;
}

.delete-btn, .edit-btn{
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 500;
    font-size: 0.8rem;
}

.delete-btn{
    background-color: var(--btn-danger);
    color: #ffffff;

}

.edit-btn{
    color: #ffffff;
    background-color: var(--btn-info);
}

.edit-btn:hover{ 
    transform: scale(1.02); 
    background-color: #ffffff;
    color: var(--btn-info);
    border: 1px solid var(--btn-info);
}

.delete-btn:hover{
    transform: scale(1.02); 
    background-color: #ffffff;
    color: var(--btn-danger);
    border: 1px solid var(--btn-danger);
}

.task-edit-input{
    border: 1px solid #f1f1f1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: text;
    padding: 0.8rem;
    border-radius: 0.4rem;
}

@media (max-width: 768px) {
    main {
        margin: 2rem auto;
        padding: 0.5rem;
    }

    .container-header, .container-addTask, .container-card-btn {
        flex-direction: column;
        align-items: center;
    }

    .container-input, .container-addTask {
        width: 100%;
    }

    .container-input{
        margin-bottom:1rem;
    }

    .btn-addTask, .input-task {
        width: 100%;
    }

    .container-card-input {
        flex-direction: column;
        gap: 1rem;
    }

    .container-card-btn {
        flex-direction: column;
        gap: 1rem;
    }

    .task-edit-input{
        border: 1px solid #f1f1f1;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: text;
        border-radius: 0.4rem;
    }
}

@media (max-width: 350px) {
    .container-task-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}


